* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    width:180px;
    background: gainsboro;
    padding-left: 5px;
}

div button {
}

button {
    padding:5px;
    width:54px;
    height:50px;
}